# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Chat Bot with Java/*
!/Simple Chat Bot with Java/task/
/Simple Chat Bot with Java/task/*
!/Simple Chat Bot with Java/task/src
